/* sectionn */

.section-content {
    margin-top: 10px;
    text-align: center;
    height: 250px;
}
.text-content {
    padding: 15px;
}
.album-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-p {
    font-size: 20px;
    margin-bottom: 10px;
    padding: 16px;
    color: #6c757d!important;

}
 
.btn {
    text-decoration: none;
}
.btn-primary {
    background-color: rgb(77, 77, 247);
    color: white;
    padding: 0.4rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
    padding: 0.4rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
}

/* container content */

.container {
    width: 100%;
    margin: auto;
}

.row {
    width: 90%;
    margin: auto;
}

.col {
    width: 30%;
    height: 350px;
    display: inline-block;
    background-color: whitesmoke;
    text-align: center;
    margin-top: 16px;
    margin-left: 7px;
    border: 1px solid rgba(132, 134, 139, 0.301);
}
.col-title {
    text-align: center;
    padding: 70px;
    background-color: rgb(134, 134, 129);
    height: 180px;
}

.col p {
    padding: 10px;
    margin: 8px;
}
.col-button {
    margin-top: 50px;
    display: inline-block;
}
 .time-text {
     margin-top: 35px;
     margin-left: 15px;
     margin-right: 0px;
     display: inline-block;
 }

 /* footer */

 .footer-container {
    background-color: rgb(225, 231, 238);
    height: 150px;
    padding: 48px 0 48px 0;
 }

 .ft-first-p {
    display: inline-block;
    font-size: 1rem;
    color: rgb(89, 92, 94);
    vertical-align: top;
    padding: 8px;
 }
 .ft-second-p {
    display: inline-block;
    margin-left: 700px;
    padding: 8px;
 }

 .ft-third-p {
     font-size: 1.1rem;
     padding: 8px;
 }